.filter-box {
	position: relative;
	margin: 5px 0;
	padding: 14px 19px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	&:after {
		content: "Course filters";
		position: absolute;
		bottom: -1px;
		right: -1px;
		padding: 3px 7px;
		font-size: 12px;
		font-weight: bold;
		background-color: #f5f5f5;
		border: 1px solid #ddd;
		color: #9da0a4;
		-webkit-border-radius: 4px 0 4px 0;
		-moz-border-radius: 4px 0 4px 0;
		border-radius: 4px 0 4px 0;
	}
	#filters {
		width: 500px;
	}
}


body {
	position: absolute;
}

table.list-of-courses {
	margin: 0;
	width: 100%;
	border: 1px solid #eee;
	box-shadow: 0 3px 5px rgba(0,0,0,.1);
	border-collapse: collapse;
	td, th {
		padding: 5px;
		margin: 0;
		border: 1px solid #eee;
		text-align: left;
		vertical-align: top;
		&.nowrap {
			white-space: nowrap;
		}
		small {
			display: block;
			color: #999;
		}
	}
}

ul.move-menu {
	.dropdown-arrow(50px);
}
ul#change-label {
	.dropdown-arrow(120px);
}