body {
	margin: 0;
	padding-bottom: 50px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	background: #fff url(light_wool.png) fixed;
}

nav {
	position: fixed;
	z-index: 2;
	height: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #2F3F4F;
	h1 {
		color: #fff;
		text-shadow: 1px 1px 0 #000;
		font-weight: normal;
		margin: 10px;
		display: inline-block;
	}
	#item-feedback {
		margin: 10px 20px;
		display: inline-block;
		color: fade(#fff,80%);
		text-shadow: 1px 1px 0 #000;
	}
	#actions {
		display: inline-block;
		margin: 10px 20px;
		padding: 0;
		list-style-type: none;
		li {
			display: inline-block;
			a {
				color: fade(#fff,25%);
				text-decoration: none;
				cursor: pointer;
				&.disabled {
					color: fade(#fff,50%);
				}
				&:hover {
					color: #fff;
				}
			}
		}
	}
	button {
		float: right;
		background-color: #98A4A5;
		padding: 10px 20px;
		margin: 10px;
		border-radius: 5px;
		border: none;
		&:hover {
			background-color: darken(#98A4A5,10%);
		}
	}
}

section {
	position: relative;
}

.fancy-drop-border {
	border: 5px dashed rgba(255,255,255,.5);
}

aside {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 51px;
	vertical-align: top;
	width: 230px;
	background-color: #98A4A5;
	table {
		border-collapse: collapse;
		width: 100%;
		th {
			text-align: left;
			color: #fff;
			text-shadow: 1px 1px 0 #000;
			padding: 5px;
			background-color: darken(#98A4A5,10%);
			border: 1px solid lighten(#98A4A5,10%);
			border-width: 1px 0;
		}
		input[type=text] {
			width: 215px;
		}
	}
	.dz-message {
		min-height:150px;
		i {
			color: #fff;
			text-shadow: 1px 1px 0 #000;
		}
	}
	#paste_screenshot {
		min-height:150px;
		p {
			display: block;
			margin: 10px;
			padding: 65px 10px;
			text-align: center;
			border: 5px dashed rgba(255,255,255,.5);
			background-color: fade(lighten(#98A4A5,20%),50%);
			transition: ease 0.5s;
		}
		&.active {
			p {
				border: 5px dotted rgba(255,224,48,.5);
				background-color: fade(lighten(#ffcc33,20%),50%)
			}
		}
		span {
		}
	}
	.list-group {
		a {
			color: #fff;
			text-shadow: 1px 1px 0 #000;
			display: block;
			padding: 5px;
			&:hover {
				background-color: lighten(#98A4A5,10%);
			}
		}
	}
	
	.basic-upload {
		min-height: 150px;
		&.drag-over {
			background-color: fade(lighten(#ffcc33,20%),50%)
		}
	}
	
	#manual_upload {
		max-width: 210px;
	}
}

article {
	position: absolute;
	top: 0;
	left: 231px;
	padding-bottom: 51px;
	z-index: 1;

	.selectbox {
		cursor: pointer;
		background-image: url(check.png);
		width: 240px;
		height: 180px;
		overflow: hidden;
		position: relative;
		float: left;
		border: 1px solid #666;
		-moz-box-shadow: 1px 1px 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.2);
		box-shadow: 1px 1px 3px rgba(0,0,0,.2);
		margin: 5px;
		padding: 3px;
		img {
			max-width: 100%;
		}
		input {
			position: absolute;
			top: 1em;
			right: 1em;
		}
		p {
			position: absolute;
			bottom: 1em;
			left: 1em;
			background-color: #FFFF00;
			color: #000;
			font-size: 10px;
			padding: 1px 2px 0px;
		}
		&.selected {
			box-shadow: 0 0 10px #ff9900;
			background-color: rgba(255,144,0,.3);
		}
	}

	input {
		margin: 0 10px;
		-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.6);
		-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.6);
		box-shadow: 0px 0px 3px rgba(0,0,0,0.6);
	}
	
	.controls i {
		color: #fff;
		padding-right: 1em;
	}

	iframe {
		width: 970px;
		height: 600px;
		border: none;
	}
}

