@import "bootstrap.min.css";
@import "colorpicker.css";
@import "custom-theme/jquery-ui-1.10.1.custom.css";
@import "font-awesome/font-awesome";
@import url(/engine/layout/third-party/jQuery-UI-FileInput/css/enhanced.css);
@import "layouts";
@import "slider.css";

@import "../third-party/chosen/chosen.min.css";
@import "index";

@import "propsheet";

body {
	&.page-edit {
		.well {
			background-color: #fff;
			border-radius: 2px;
			-webkit-border-radius: 2px;
		}
		.ui-tabs {
			border-radius: 4px;
			-webkit-border-radius: 4px;
			border: 1px solid #e3e3e3;
			.ui-tabs-panel {
				margin: 0;
				padding: 5px;
			}
		}
	}
}

#jGrowl {
	top: 50px;
}

#bug-tracker-block {
	display: none;
	background: url(green-fibers.png);
}
#loading-animation {
	margin: 0 auto;
	padding: 3em 0;
	text-align: center;
}

.force-inline-block {
	display: inline-block;
}

.dropdown-menu-label {
	text-align: center;
	font-weight: bold;
}

.shrunken-padding {
	padding: .3em;
	box-shadow: inset 0 4px 2px rgba(255,255,255,0.02);
}

.nav-toolbar {
	margin-top: .3em;
}

.jstree-classic.jstree-focused {
	background-color: transparent !important;
}

/* highlights for different types of nav/contribute actions (nav = must visit, contribute = must pass */
.jstree li[contribute='p'] > a {
	background-color: #E0F4FF;
	color: darken(#E0F4FF, 50%);
}
.jstree li[contribute='v'] > a {
	background-color: #E8FFE0;
	color: darken(#E8FFE0, 50%);
}
.jstree li[contribute='c'] > a {
	background-color: #FFE1E1;
	color: darken(#FFE1E1, 50%);
}
.jstree li[nav='p'] > a {
	border-bottom: 1px solid darken(#E0F4FF,15%);
}
.jstree li[nav='v'] > a {
	border-bottom: 1px solid darken(#E8FFE0,15%);
}
.jstree li[nav='c'] > a {
	border-bottom: 1px solid darken(#FFE1E1,15%);
}

.jstree li.muted > a {
	background-image: url(ui-bg_diagonals-small_100_555_40x40.png);
}
.jstree li.muted > a.jstree-clicked {
}

#xmlTree {
	.icon-warning-sign {
		margin-right: .3em;
		color: #ff9900;
	}
}

.icon-cogs {
	margin-right: .3em;
	color: #900;
}


/* Body and structure
-------------------------------------------------- */

body {
    position: relative;
}

/* Code in headings */
h3 code {
    font-size: 14px;
    font-weight: normal;
}

/* Sections
-------------------------------------------------- */

/* padding for in-page bookmarks and fixed navbar */
.page-header {
    border-bottom: 1px solid #EEEEEE;
    margin: 20px 0;
    padding-bottom: 9px;
}
.page-header > h1{
    color: #5A5A5A;
}
section {
    padding-top: 20px;
}
section > .page-header,
section > .lead {
    color: #5a5a5a;
}
section > ul li {
    margin-bottom: 5px;
}

/* Separators (hr) */
.bs-docs-separator {
    margin: 40px 0 39px;
}

/* Faded out hr */
hr.soften {
    height: 1px;
    margin: 70px 0;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    border: 0;
}




/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
    position: relative;
    padding: 40px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background: #B24926; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #8cc2d8 0%, #2e5e9b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#8cc2d8), color-stop(100%,#2e5e9b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #8cc2d8 0%,#2e5e9b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #8cc2d8 0%,#2e5e9b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #8cc2d8 0%,#2e5e9b 100%); /* IE10+ */
    background: linear-gradient(45deg,  #8cc2d8 0%,#2e5e9b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cc2d8', endColorstr='#2e5e9b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	h1 {
	    font-size: 80px;
		font-weight: bold;
		letter-spacing: -1px;
		line-height: 1;
	}
	p {
    	font-size: 24px;
		font-weight: 300;
		line-height: 1.25;
		margin-bottom: 30px;
	}

/* Link styles (used on .masthead-links as well) */
	a {
    	color: #fff;
		color: rgba(255,255,255,.5);
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
		&:hover {
			color: #fff;
			text-shadow: 0 0 10px rgba(255,255,255,.25);
		}
	}
}

/* Download button */
.masthead .btn {
    padding: 19px 24px;
    font-size: 24px;
    font-weight: 200;
    color: #fff; /* redeclare to override the `.jumbotron a` */
    border: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
	&:hover {
    	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
		box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
	}
	&:active {
	    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
		-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
		box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
	}
}

.red {
	color: red;
}


/* Pattern overlay
------------------------- */
.jumbotron .container {
    position: relative;
    z-index: 2;
}
.jumbotron:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(127934515780.jpg) repeat center center;
    opacity: .4;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) {

    .jumbotron:after {
        background-size: 150px 150px;
    }

}

/* Masthead (docs home)
------------------------- */
.masthead {
    padding: 70px 0 80px;
    margin-bottom: 0;
    color: #fff;
}
.masthead h1 {
    font-size: 120px;
    line-height: 1;
    letter-spacing: -2px;
}
.masthead p {
    font-size: 40px;
    font-weight: 200;
    line-height: 1.25;
}

/* Textual links in masthead */
.masthead-links {
    margin: 0;
    list-style: none;
}
.masthead-links li {
    display: inline;
    padding: 0 10px;
    color: rgba(255,255,255,.25);
}

/* Social proof buttons from GitHub & Twitter */
.bs-docs-social {
    padding: 15px 0;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
}

/* Quick links on Home */
.bs-docs-social-buttons {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.bs-docs-social-buttons li {
    display: inline-block;
    padding: 5px 8px;
    line-height: 1;
    /* IE7 inline-block fix */
    *display: inline;
    *zoom: 1;
}

/* Subhead (other pages)
------------------------- */
.subhead {
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.subhead h1 {
    font-size: 60px;
}
.subhead p {
    margin-bottom: 20px;
}
.subhead .navbar {
    display: none;
}



/* Marketing section of Overview
-------------------------------------------------- */

.marketing {
    text-align: center;
    color: #5a5a5a;
}
.marketing h1 {
    margin: 60px 0 10px;
    font-size: 60px;
    font-weight: 200;
    line-height: 1;
    letter-spacing: -1px;
}
.marketing h2 {
    font-weight: 200;
    margin-bottom: 5px;
}
.marketing p {
    font-size: 16px;
    line-height: 1.5;
}
.marketing .marketing-byline {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.25;
    color: #999;
}
.marketing-img {
    display: block;
    margin: 0 auto 30px;
    max-height: 145px;
}



/* Footer
-------------------------------------------------- */

.footer {
    padding: 20px 0 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: rgba(128,128,128,.1);
}
.footer p {
    margin-bottom: 0;
    color: #777;
}
/*.footer-links {
    text-align: center;
    margin: 10px 0;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
.footer-links li:first-child {
    padding-left: 0;
}*/

/* Bootstrap code examples
-------------------------------------------------- */

/* Base class */
.bs-docs-example {
    position: relative;
    margin: 15px 0;
    padding: 39px 19px 14px;
    *padding-top: 19px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* Echo out a label for the example */
.bs-docs-example:after {
    content: "Example";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

/* Remove spacing between an example and it's code */
.bs-docs-example + .prettyprint {
    margin-top: -20px;
    padding-top: 15px;
}

/* Tweak examples
------------------------- */
.bs-docs-example > p:last-child {
    margin-bottom: 0;
}
.bs-docs-example .table,
.bs-docs-example .progress,
.bs-docs-example .well,
.bs-docs-example .alert,
.bs-docs-example .hero-unit,
.bs-docs-example .pagination,
.bs-docs-example .navbar,
.bs-docs-example > .nav,
.bs-docs-example blockquote {
    margin-bottom: 5px;
}
.bs-docs-example .pagination {
    margin-top: 0;
}
.bs-navbar-top-example,
.bs-navbar-bottom-example {
    z-index: 1;
    padding: 0;
    height: 90px;
    overflow: hidden; /* cut the drop shadows off */
}
.bs-navbar-top-example .navbar-fixed-top,
.bs-navbar-bottom-example .navbar-fixed-bottom {
    margin-left: 0;
    margin-right: 0;
}
.bs-navbar-top-example {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.bs-navbar-top-example:after {
    top: auto;
    bottom: -1px;
    -webkit-border-radius: 0 4px 0 4px;
    -moz-border-radius: 0 4px 0 4px;
    border-radius: 0 4px 0 4px;
}
.bs-navbar-bottom-example {
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.bs-navbar-bottom-example .navbar {
    margin-bottom: 0;
}
form.bs-docs-example {
    padding-bottom: 19px;
}

/* Images */
.bs-docs-example-images img {
    margin: 10px;
    display: inline-block;
    /* IE7 inline-block fix */
    *display: inline;
    *zoom: 1;
}

/* Tooltips */
.bs-docs-tooltip-examples {
    text-align: center;
    margin: 0 0 10px;
    list-style: none;
}
.bs-docs-tooltip-examples li {
    display: inline;
    padding: 0 10px;
}

/* Popovers */
.bs-docs-example-popover {
    padding-bottom: 24px;
    background-color: #f9f9f9;
}
.bs-docs-example-popover .popover {
    position: relative;
    display: block;
    float: left;
    width: 260px;
    margin: 20px;
}

/* Dropdowns */
.bs-docs-example-submenus {
    min-height: 180px;
}
.bs-docs-example-submenus > .pull-left + .pull-left {
    margin-left: 20px;
}
.bs-docs-example-submenus .dropup > .dropdown-menu,
.bs-docs-example-submenus .dropdown > .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 5px;
    *width: 180px;
}

/* Sidenav for Docs
-------------------------------------------------- */

/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
    width: 228px;
    margin: 30px 0 0;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
    display: block;
    width: 190px \9;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    background: #B24926; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #B24926 0%, #FAA523 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#B24926), color-stop(100%,#FAA523)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #B24926 0%,#FAA523 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #B24926 0%,#FAA523 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #B24926 0%,#FAA523 100%); /* IE10+ */
    background: linear-gradient(45deg,  #B24926 0%,#FAA523 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B24926', endColorstr='#FAA523',GradientType=1 );
}

/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
    background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
    opacity: 1;
}
.bs-docs-sidenav.affix {
    top: 40px;
}
.bs-docs-sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
}

/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
    .bs-docs-container {
        max-width: 970px;
    }
    .bs-docs-sidenav {
        width: 258px;
    }
    .bs-docs-sidenav > li > a {
        width: 230px \9; /* Override the previous IE8-9 hack */
    }
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
    /* Unfloat brand */
    body > .navbar-fixed-top .brand {
        float: left;
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    /* Inline-block quick links for more spacing */
    .quick-links li {
        display: inline-block;
        margin: 5px;
    }

    /* When affixed, space properly */
    .bs-docs-sidenav {
        top: 0;
        width: 218px;
        margin-top: 30px;
        margin-right: 0;
    }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }
    /* Widen masthead and social buttons to fill body padding */
    .jumbotron {
        margin-top: -20px; /* Offset bottom margin on .navbar */
    }
    /* Adjust sidenav width */
    .bs-docs-sidenav {
        width: 166px;
        margin-top: 20px;
    }
    .bs-docs-sidenav.affix {
        top: 0;
    }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }

    /* Widen masthead and social buttons to fill body padding */
    .jumbotron {
        padding: 40px 20px;
        margin-top:   -20px; /* Offset bottom margin on .navbar */
        margin-right: -20px;
        margin-left:  -20px;
    }
    .masthead h1 {
        font-size: 90px;
    }
    .masthead p,
    .masthead .btn {
        font-size: 24px;
    }
    .marketing .span4 {
        margin-bottom: 40px;
    }
    .bs-docs-social {
        margin: 0 -20px;
    }

    /* Space out the show-grid examples */
    .show-grid [class*="span"] {
        margin-bottom: 5px;
    }

    /* Sidenav */
    .bs-docs-sidenav {
        width: auto;
        margin-bottom: 20px;
    }
    .bs-docs-sidenav.affix {
        position: static;
        width: auto;
        top: 0;
    }

    /* Unfloat the back to top link in footer */
    .footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer p {
        margin-bottom: 9px;
    }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
    /* Remove padding above jumbotron */
    body {
        padding-top: 0;
    }

    /* Change up some type stuff */
    h2 small {
        display: block;
    }

    /* Downsize the jumbotrons */
    .jumbotron h1 {
        font-size: 45px;
    }
    .jumbotron p,
    .jumbotron .btn {
        font-size: 18px;
    }
    .jumbotron .btn {
        display: block;
        margin: 0 auto;
    }

    /* center align subhead text like the masthead */
    .subhead h1,
    .subhead p {
        text-align: center;
    }

    /* Marketing on home */
    .marketing h1 {
        font-size: 30px;
    }
    .marketing-byline {
        font-size: 18px;
    }

    /* Do our best to make tables work in narrow viewports */
    table code {
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
    }

    /* Tighten up footer */
    .footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

#twitter-share{
    padding-top:5px;
}
.docs-lead{margin-bottom:20px;font-size:15px;font-weight:200;line-height:30px;}

/* Download */
.download-btn:hover{
    text-decoration: none;
    color: #333333;
}
.download-btn.ui-button-primary:hover{
    color: #FFFFFF;
}
/* Accordion */
#menu-collapse{
    margin-bottom:20px;
}
/*Dialog*/
#dialog_link,#modal_link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}

#dialog_link span.ui-icon, #modal_link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}

ul#icons {
    margin: 0;
    padding: 0;
}

ul#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}

ul#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}

#buttons button {
    float: left;
    margin-right: 4px;
}
.dialog-button{
    margin-bottom: 20px;
}
/*Tabs*/
#tabs2 li .ui-icon-close {
    float: left;
    margin: 0.4em 0.2em 0 0;
    cursor: pointer;
}

#add_tab {
    cursor: pointer;
}

/*shadow*/
.window-contain{
    position: relative;
    height: 200px;
    padding:1% 4%;
    overflow:hidden;
}

/*Toolbar*/
#toolbar,#toolbar-fa {
	margin: 0;
    padding: 5px 0 5px 5px;
}
#repeat,#repeat-fa {
	display: inline-block;
    /* IE7 inline-block fix */
    *display: inline;
    *zoom: 1;
}

/* Split Button */
#split-button,#split-button-fa{
    margin-bottom:20px;
}
#split-button .ui-menu,#split-button-fa .ui-menu{
    position: absolute;
}

/*Datepicker*/
#datepicker{
    margin-bottom: 20px;
}
/*slider*/
#amount{
    color:#f6931f; 
    font-weight:bold;
}
#h-slider,#v-slider{
    margin-bottom: 20px;
}
/*Autocomplete*/
#tags{
    margin-bottom: 20px;
}

/**
* fix bug position button customfile
*/
.input-append.customfile, .input-prepend {
    font-size: 0;
    margin-bottom: 5px;
    white-space: normal;
}
.input-append.customfile .add-on{
    height:20px;
    font-size:14px;
    line-height:18px;
    min-width: 70px;
}
/* Wijmo */
#wijmo-container{
    margin-bottom: 20px;
}
/* gmap3 */
#gmap3,.gmap3{
    height: 350px;
}


/* Footer
-------------------------------------------------- */

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
    background-color: rgba(128,128,128,.1);
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}


/* tweaks
-------------------------------------------------- */
 
 .course-play-button {
	float: left;
	margin-right: 5px;
}



 .jumbotron h1 {
 	display: block;
 	width: 100%;
 }
 
 
.customfile-feedback {
	background-color: #fff;
	height: 20px;
	line-height: 18px;
}

#upload .helpbutton {
	max-width: 16px;
	padding-right: 0;
}
#upload .top-margin-hack input {
	margin-top: -10px;
}
#upload .top-margin-hack a {
	margin-top: -11px;
}


.field-row label {
	display: inline-block;
	font-weight: bold;
	padding: 0;
	margin-right: 1em;
}

/*.field-row label, .field-row input, .field-row textarea {
	margin: .3em .7em;
}*/

.field-row {
	padding: .3em 1em .3em .3em;
 background-color: #f5f5f5;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  border: 1px solid #ddd;
  border-width: 0 1px;
  }
.field-row:first-child {
	border-width: 1px 1px 0 1px;
	border-radius: 4px 4px 0 0;
}
.field-row:last-child {
	border-width: 0 1px 1px 1px;
	border-radius: 0 0 4px 4px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}



#editor-toolbar {
	padding: .1em;
}
#editor-toolbar a.btn.success {
	color:#fff;
}






/* List page customisations
-------------------------------------------------- */

body#list {
	background-color: #333;
	margin: 0;
}


body#list #done {
	margin: .5em 0 0 0;
}

body#list #content .selectbox {
	cursor: pointer;
	background-image: url(check.png);
	width: 240px;
	height: 180px;
	overflow: hidden;
	position: relative;
	float: left;
	border: 1px solid #666;
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.2);
	box-shadow: 1px 1px 3px rgba(0,0,0,.2);
	margin: 5px;
	padding: 3px;
}
body#list #content input {
	margin: 0 10px;
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.6);
}
body#list #content .selectbox input {
	position: absolute;
	top: 1em;
	right: 1em;
}
body#list #content .selectbox p {
	position: absolute;
	bottom: 1em;
	left: 1em;
	background-color: #FFFF00;
	color: #000;
	font-size: 10px;
	padding: 1px 2px 0px;
}
body#list .controls i {
	color: #fff;
	padding-right: 1em;
}

body#list .radio-float-left {
	float: left;
}
body#list .input-row {
	clear: both;
	padding: 10px 0;
	border: 1px solid #666;
	border-top: none;
}
body#list .alt-row {
	background-color: #fff;
}

body#list #_scroll {
	overflow: hidden;
	overflow-y: scroll;
}

body#list .black-text {
	color: #000;
}

body#list .form {
	border-right: 1px solid rgba(255,255,255,.1);
	padding-right: .5em;
	margin-right: .5em;
	margin-top: .5em;
}
body#list .form form, body#list .form input[type=file] {
	padding: 0 !important;
	margin: 0 !important;
}

#courselist {
	margin-top: 10px;
}

#courselist a.btn, #courselist a.ui-button, #courselist p.change-label a.dropdown-toggle {
	opacity: 0.25;
}

#courselist tr:hover a.btn, #courselist tr:hover a.ui-button, #courselist tr:hover p.change-label a.dropdown-toggle {
	opacity: 1.0;
}

#navHeader .btn {
	line-height: 30px;
}

#tabs-3 { /* layout editor */
		
}
#tabs-3 table.layout-edit {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 8px;
	box-shadow: 0 4px 8px rgba(0,0,0,.2);
}
#tabs-3 table.layout-edit td {
	vertical-align: top;
	text-align: left;
}
#tabs-3 table.no-border,
#tabs-3 table.no-border td {
	border: none;
	margin-bottom: 0;
	box-shadow: none;
}
#tabs-3 table.layout-edit thead td.left {
	width: 49%;
}
#tabs-3 table.layout-edit tfoot td.left {
	width: 30%;
}
#tabs-3 table.layout-edit tfoot td.right {
	width: 69%;
}
#tabs-3 table.layout-edit tfoot td.right label {
	display: inline-block;
}

#tabs-3 table.layout-edit thead td.right {
	width: 49%;
}
#tabs-3 table.layout-edit td.full {
	width: 98%;
}
#tabs-3 table.layout-edit td.vis {
	width: 1%;
}
#tabs-3 label {
	display: inline-block;
}
#tabs-3 table div.browse-image {
	max-width: 175px;
	max-height: 80px;
	min-height: 40px;
	border: 1px solid rgba(0,0,0,.25);
	background-color: rgba(127,127,127,.33);
	padding: 5px;
	box-shadow: 0 4px 8px rgba(0,0,0,.2);
	cursor: help;
	overflow: hidden;
}
#tabs-3 table tbody td.nav {
	width: 31%;
}
#tabs-3 table tbody td.nav .nav-colour {
	padding-bottom: 100px;
}
#tabs-3 table tbody td.content {
	text-align: center;
}
#tabs-3 table tbody div.browse-image {
	max-width: 175px;
	max-height: 40px;
}
#tabs-3 .nav-colour {
	border-radius: 10px;
	padding: 5px;
}
#tabs-3 .pick-colour {
	margin: 0 auto;
	width: auto;
}

.visible-form {
	min-height:20px;padding:19px;margin-bottom:20px;background-color:#f5f5f5;border:1px solid #e3e3e3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#jsonEditModal li {
	padding: 5px;
}
#jsonEditModal ul li {
	list-style-type: circle;
}
#jsonEditModal ul .selected {
	list-style-type: square;
}

#jsonEditModal .selected {
	background-color: #FFFEEE;
	border-bottom: 1px solid #FBF9E6;
}

#jsonEditModal .new-item {
	background-color: #AECEE2;
	border-bottom: 1px solid #9BBBD1;
}
#jsonEditModal .new-item.selected {
	background-color: mix(#FFFEEE,#AECEE2);
}

.ui-widget-content .well .btn-primary {
	color: #fff;
}


#page_grid {
	margin-bottom: 0;
}

.out-of-date {
	font-size: 0.8em;
}

.todo-container a:hover {
	text-decoration: none;
}
.todo-container a:hover i {
	.icon-spin;
	.icon-2x;
}

.bootbox-bigwindow {
	width: 90%;
	left: 5%;
	margin-left: 0;
	&.modal.fade.in {
		top: 5%;
	}
	.modal-body {
		max-height: 800px;
	}
	ins {
	    background-color: #c6ffc6;
	    text-decoration: none;		
	}
	del {
  	  background-color: #ffc6c6;
	}
}


/* tickets; tried using an @ import but it didn't work for some reason */
#bug-tracker-block {
	#new-ticket {
		.span4, .span8 { padding: .3em 0;}
		textarea { margin-top:.3em; }
		.form-inline {
			background-color: rgba(255,255,255,.3);
			border-radius: 0 0 5px 5px;
			padding: .3em;
			label.inline:last-of-type {
				margin-right: 1em;
			}
		}
	}
	
}

#paste_screenshot, #buggr_screenshot {
	background-color: rgba(224,224,224,.2);
	border: 3px dashed rgba(224,224,224,.5);
	padding: 1em;
	text-align: center;
	//span {
	//	visibility: hidden;
	//}
	&.active {
		background-color: rgba(255,224,0,.2);
		border: 3px dashed rgba(255,224,48,.5);
	}
}


// this file is a fucking disaster
.box-shadow {
	box-shadow: 0 4px 8px rgba(0,0,0,.2);
}
.index-footer {
	margin-top: 10px;
	padding: 5px;
}


/* now, the important stuff */

@import "magnets.less";

#pilleditModal {
	li.secondary-nav {
		float: right;
		margin-left: 10px;
		margin-right: 0;
	}
}

.well.dock-next {
	margin-bottom: 0;
	border-bottom: 0;
	border-radius: 4px 4px 0 0;
}

.dropdown-arrow(@left: 6px) {
	&:before {
		content: '';
		display: inline-block;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #ccc;
		border-bottom-color: rgba(0, 0, 0, 0.2);
		position: absolute;
		top: -7px;
		left: @left;
	}
	&:after {
		position: absolute;
		top: -6px;
		left: (1 + @left);
		display: inline-block;
		border-right: 6px solid transparent;
		border-bottom: 6px solid #ffffff;
		border-left: 6px solid transparent;
		content: '';
	}
}

.stage-label {
	margin: 1px;
	display: block;
}

td.meta {
	padding: 0;
	table {
		border: none !important;
		border-radius: 0 !important;
		margin: 0;
		padding: 0;
		border-collapse:collapse;
		td {
			border: none !important;
			background-color: transparent !important;
			padding: 2px;
			p {
				margin: 0;
			}
			small {
				&.container-name {
					color: #669;
				}
			}
		}
	}
}

table.minimal-table td {
	padding: 0 0 2px 0;
}